.carrossel__titulo {
    height: 1.6875rem;
    color: var(--cor-laranja);
    font-weight: 700;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    text-transform: uppercase;
    padding: 1.25rem 0;
    background-color: var(--cor-branca);
    text-align: center;
}

.swiper-slide img {
    width: 100%;
}

.swiper-pagination {
    position: initial;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.swiper-wrapper {
    gap: 20px ;
}

.swiper-button-prev, .swiper-button-next {
    display: none;
}

.swiper-pagination-bullet-active {
    background: var(--cor-azul-gradiente);
}

/* CARD */

.card {
    display: flex;
    justify-content: space-between;
    height: 18.4375rem;
    background-color: var(--cor-branca);
    margin: 1.25rem 1.5rem;
    border-radius: .625rem;
    box-shadow: 0 .25rem .25rem rgba(0, 0, 0, 0.25);
    padding-bottom: .625rem;
}

.card__descricao {
    display: flex;
    flex-direction: column;
    height: 15.875rem;
}

.card__botoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21.75rem;
    height: 3rem;
    position: relative;
    bottom: 1.25rem;
    margin: 0 auto;
}

.descricao__titulo {
    width: 11.1875rem;
    height: 3rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.5rem;
    color: var(--cor-laranja);
    padding: 1rem .4375rem .5625rem 1rem;
}

.descricao__estrelas {
    width: 91px;
    height: 15px;
    margin: 1.4375rem 0 0 1.125rem;
}

.descricao__titulo--card-dois {
    width: 11.1875rem;
    height: 1.5rem;
    font-size: 1.125rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.6875rem;
    color: var(--cor-laranja);
    padding: 0 .4375rem .5rem 1rem;
}

.descricao__titulo--livro {
    width: 8.9375rem;
    height: 3.375rem;
    font-weight: 700;
    font-style: normal;
    font-size: 1.125rem;
    line-height: 1.6875rem;
    color: #002F52;
    padding: 0 0 .5625rem 1rem;
}

.descricao__texto {
    width: 9.25rem;
    height: 4.0625rem;
    font-style: normal;
    font-size: .875rem;
    line-height: 1.3125rem;
    padding: 0 0 2.1875rem 1rem;

}

.card__imagem {
    width: 10.125rem;
    height: 10.5rem;
    align-self: flex-start;
    position: relative;
    top: 21px;

}

.card__saiba-mais {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cor-branca);
    text-decoration: none;
    font-weight: 700;
    line-height: 1.5rem;
    width: 8.1875rem;
    height: 3rem;
    background-color: var(--cor-laranja);
    padding: .0625rem 1rem;
    margin-top: 3.75rem;
    margin-right: 1rem;
    
}

@media screen and (min-width: 1024px) {
    .carrossel {
        width: 100%;
        
    }

    .swiper {
        width: 47.625rem;
    }

    .carrossel__titulo {
        text-align: center;
        padding: 1.25rem 0;
        width: 100%;
    }

    .swiper-button-next, .swiper-button-prev {
        display: block;

    }

    .card {
        width: 36.75rem;
        margin: 3rem auto;
        
    }

    .card__descricao__botoes {
        margin-top: 4.0625rem;
        margin-left: .8125rem;
    }

    .card__descricao__botoes--card-dois {
        margin-top: 1.875rem;
    }

    .descricao__titulo, .descricao__texto, .descricao__titulo--livro {
        width: 20.125rem
    }
}
