@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.cabecalho {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: .625rem;
    height: 5rem;
    background-color: var(--cor-branca);
    position: relative;
    
}

.cabecalho__menu {
    cursor: pointer;
    padding-right: 11px;
}

.cabecalho__titulo {
    display: none;
}

.lista-menu {
    width: 15.625rem;
    height: 21.5rem;
    display: none;
    top: 100%;
    position: absolute;
    left: 0;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, 0.25);
    background-color: var(--cor-branca);
    transition: .25s;
}

.cabecalho__botao:checked ~ .lista-menu {
    display: block;
    z-index: 2;
    transition: .25s;
}

.cabecalho__botao:checked ~ .cabecalho__label {
    background-image: url(../img/header/Frame_20.svg);
    width: 80px;
    height: 80px;
    margin-left: -20px;

}

.cabecalho__botao {
    display: none;
}

.lista-menu__item {
    width: 7.8125rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 1.5rem 0 .5rem 1.5rem;
    text-transform: uppercase;
}

.lista-menu__item:first-child {
    width: 5.75rem;
    height: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
    color: var(--cor-laranja);
    line-height: 1.5rem;
    padding: 1.5rem 0 .5rem 1.5rem;
}

.lista-menu__link {
    color: var(--cor-azul-gradiente);
    -webkit-background-clip: text;
    -webkit-text-fill-color: text;
    background-clip: text;
    text-decoration: none;
}

.menu-lista {
    display: none;
}

.lista-menu-categorias, .menu-categoria__botao, .menu-categoria__link {
    display: none;
}

@media screen and (min-width: 64rem) {
    .cabecalho {
        width: 100%;
        display: flex;
        justify-content: space-between;
        position: relative;

    }

    .container-cabecalho-logo {
        display: flex;
        
    }

    .cabecalho__titulo {
        color: var(--cor-preto);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: .3125rem;
        padding-top: .625rem;
    }

    .cabecalho__titulo--negrito {
        color: var(--cor-preto);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .cabecalho__menu {
        display: none;
    }

    .menu-lista {
        display: flex;
        gap: 2.625rem;
        text-transform: uppercase;
    }

    .menu-lista__link {
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        color: var(--cor-preto);
    }


    .cabecalho-icones {
        padding-right: 5rem;
    }

    .cabecalho__coracao {
        display: none;
    }

    .cabecalho__botao {
        display: none;
    }

    .cabecalho__titulo {
        display: inline-block;
    }

    .lista-menu {
        display: none;
    }

    .menu-categoria__link {
        text-decoration: none;
        text-transform: uppercase;
        margin-right: -42px;
        cursor: pointer;
        display: block;
        color: var(--cor-preto);
        font-family: var(--fonte-principal);
        font-weight: 400;
        font-size: 1rem;
    }

    .menu-categorias {
        background-color: var(--cor-azul-gradiente);
    }

    .menu-categoria__link:hover {
        background-color: var(--cor-azul-gradiente);
    }

    .menu-categoria__botao {
        display: none;
    }

    .lista-menu-categorias {
        margin: 0 auto;
        position: absolute;
        top: 100%;
        left: 34%;
        display: none;
        background-color: var(--cor-branca);
        transition: 25s ease-in-out;
        width: 9.375rem;
    }

    .lista-menu-categorias__item {
        padding: 1rem 0 1rem .8rem;
    }
    
    .lista-menu-categorias__link {
        text-decoration: none;
        color: var(--cor-azul-gradiente);
        text-transform: uppercase;
    }

    .lista-menu-categorias__item:hover {
        background: var(--cor-azul-gradiente);
        color: var(--cor-branca);
        padding: 1rem;
    }

    .menu-categoria__botao:checked ~ .lista-menu-categorias {
        display: block;
        transition: 25s ease-in-out;
    }



}