.rodape {
    display: flex;
    align-items: center;
    width: 26.75rem;
    height: 4.0625rem;
    background-color: #F9F9F9;
    border-top: 1px solid #858585;
    padding-left: 1.5rem;
}

.rodape__titulo {
    color: black;
}