.topicos {
	width: 100%;
	height: auto;
	background: var(--cor-azul-gradiente);
	display: flex;
	flex-direction: column;
}

.topicos__titulo {
	font-weight: 300;
	color: var(--cor-branca);
	line-height: 1.5rem;
	text-align: center;
	padding-top: 1.5rem;
}

.topicos__lista {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 0.625rem;
	margin: 1.5rem;
}

.topicos__item {
	background-color: var(--cor-laranja);
	padding: 1rem;
	margin-bottom: 1rem;
}

.topicos__link {
	color: var(--cor-branca);
	font-weight: 700;
	text-decoration: none;
}

@media screen and (min-width: 64rem) {
	.topicos {
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		height: auto;
		flex-wrap: wrap;
	}

	.topicos__item {
		padding: 1.5rem 2rem;
	}

	.topicos__titulo {
		text-align: center;
		width: auto;
		font-family: var(--fonte-principal);
		font-size: 1.5rem;
		font-weight: 300;
		font-style: normal;
		color: var(--cor-branca);
		margin-bottom: 2.5rem;
		margin-top: 2rem;

	}

	.topicos__link {
		font-size: 1.5rem;
		font-family: var(--fonte-principal);
		
	}

	.topicos__lista {
		display: flex;
		justify-content: center;
		gap: 24px;
	}
}

@media screen and (min-width: 108rem) {
	.topicos__lista {
		width: 46.4375rem;
		margin: 40px 0 44px 0;
	}

	.topicos__titulo {
		margin: 32px 0 0 0;
		font-size: 2rem;

	}
}
